<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>レビュー投稿ページ</title>
</head>
<body>
    <form method="post" th:action="@{/review/create}" th:object="${reviewInputForm}">
        <label for="dropdown">評価を選択してください：</label>
        <select id="dropdown" th:field="*{score}">
            <option th:each="option : ${scores}" th:value="${option}" th:text="${option}">オプション</option>
        </select>

        <label for="content">レビュー内容</label>
        <textarea name="content" th:field="*{content}" placeholder="レビュー内容を入力してください"></textarea>

        <button type="submit">送信</button>
    </form>
</body>
</html>